body{
    background-color: blanchedalmond;
}


.poiret-one-regular {
  font-family: "Poiret One", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.error {
  color: red;
  font-size: 0.8em;
  display: none;
}

#expense-pie-chart{
  height: 300px;
  width: 300px;
  margin: auto;
  display: block;
}